body {
  margin: 0;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background-image: url("https://images.pexels.com/photos/1435895/pexels-photo-1435895.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.container {
  width: 80%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.5);
  transition: 0.2s;
  scroll-snap-align: start;
  border: none;
  padding: 5px 10px;
}

.card img {
  min-height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 5px;
}

.card-body1 {
  border: 1px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  margin: 0;
}

.card:hover {
  border: 2px solid #444;
  border-radius: 15px;
  transform: scale(1.03);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: coral;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-file-upload-button {
  /* background-color: snow; */

  padding: 5px;

  margin-top: 2px;

  border-radius: 5px;

  border: none;
}

.container-fluid {
  background-color: rgb(202, 216, 9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scrollableDiv::-webkit-scrollbar {
  display: none;
}

.scrollableDiv {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.search {
  margin-top: 5%;
  width: 80%;
  background-color: white;
  border-radius: 1rem;
  outline: none;
  align-items: center;
  margin-left: 4rem;
}

.searchInputs {
  margin-top: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: 1rem;
}

.add-btn {
  outline: none;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.cart-desc {
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px 0px;
  border-radius: 6px;
  font-size: 16px;
  text-transform: none;
}
.search input {
  background-color: white;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 0;
  height: 60px;
  width: 100%;
}

.searchIcon .MuiSvgIcon-root {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}
.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

.dishes {
  justify-content: "space-between";
  max-height: 30rem;
  width: "20rem";
  /* overflow: scroll; */
  overflow-x: hidden;
  overflow-y: scroll;
}
.dishes::-webkit-scrollbar {
  display: none;
}

#signup-modal-description {
  padding: 10px;
}

#login-modal-description {
  padding: 10px;
}

.open-button {
  background-color: #1d3d56;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 70px;
  height: 70px;
}

.close-button {
  background-color: #1d3d56;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  width: 70px;
  height: 70px;
  z-index: 1000;
  right: 2px;
}
.items {
  justify-content: space-between;
}

.react-chatbot-kit-chat-input {
  font-size: x-large;
}

.container::-webkit-scrollbar {
  display: none;
}

.order-item {
  min-width: 2rem;
  width: 4rem;
  max-width: 4rem;
}
.ratingStar {
  float: right;
  overflow-wrap: unset;
  padding: 0;
  margin: 0;
}

:-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-file-upload-button {
  /* background-color: snow; */

  padding: 5px;
  margin-top: 2px;
  border-radius: 5px;
  border: none;
}
